<main class="container">
  <section class="card rounded">
    <div class="card-header">
      <h4 class="mb-0">Historial de pagos:</h4>
    </div>
    <div class="card-body">
      <div *ngIf="payments.length > 0">
        <div class="card p-2 mb-2" *ngFor="let payment of payments">
          <!-- <div class="card-body"> -->
            <h5>${{ payment.currency.name }} {{ payment.amount }}</h5>
            <p>{{ payment.updated_at | date : "EEEE, dd/MM/YYYY" }}</p>
          <!-- </div> -->
        </div>
      </div>
      <p *ngIf="payments.length == 0">No available records...</p>
    </div>
  </section>
</main>
