<div
  class="d-flex align-items-center"
  [ngClass]="{ 'fade-out': loader.complete }"
  *ngIf="loader.started"
>
  <span *ngIf="message !== null">{{ message }}</span>
  <div class="">
    <mat-spinner *ngIf="loader.loading" [diameter]="44"
      >check_circle_outline</mat-spinner
    >
    <mat-icon
      *ngIf="loader.loading == false && loader.complete == true"
      class="status-icon check-icon"
      >check_circle_outline</mat-icon
    >
    <mat-icon
      *ngIf="loader.loading == false && loader.complete == false"
      color="warn"
      class="status-icon"
      >cancel</mat-icon
    >
  </div>
</div>
