<div class="col-md-12">
    <div class="card mb-4 shadow rounded">
        <div class="card-header rounded-top p-4 d-flex justify-content-between align-items-center">
            <h5 class="mb-0 title">Hello there, {{getName()}}!</h5>
        </div>
        <div class="card-body d-flex justify-content-between">
            <div class="form-group col-md-10">
                <input type="text" class="form-control" [(ngModel)]="entry.task" placeholder="Enter your task or description">
            </div>
            <div class="col-md-2 text-end">
                <button *ngIf="entryCheck === 'no entries' || entryCheck === 'ended'" (click)="addEntry()" class="btn rounded btn-info">Start Timer</button>
                <button *ngIf="entryCheck === 'started'" (click)="endCurrentEntry()" class="btn rounded btn-danger">End Timer</button>
            </div>

        </div> 
    </div>
</div>
<div class="col-md-12" *ngFor="let entry of entries, let i = index">
    <div class="card mb-3 rounded shadow">
        <div class="card-header rounded-top bg-primary">
            <div class="row">
                <p class="fw-bold col-md-8 mb-0">
                    <ng-template [ngIf]="isToday(entry.date)" [ngIfElse]="elseBlock">
                        {{isToday(entry.date)}}
                    </ng-template>
                    <ng-template #elseBlock>
                        {{entry.date | date: 'EEEE'}}, {{entry.date | customDate: 'DD-MM-YYYY'}}
                    </ng-template>
                </p>
                <p class="col-md-4 text-light text-end">Total: {{getTotalHours(entry.start_time, entry.end_time)}}</p>
            </div>
        </div>
        <div class="card-body d-flex">
            <!-- <div > -->
                <form class="col-8 text-center row" action="">
                    <div class="col-md-3">
                        <input type="text" name="start_time" class="form-control text-center" [ngModel]="entry.start_time | customDate:'HH:mm'" [ngModelOptions]="{standalone: true}" (ngModelChange)="entry.start_time" (focus)="timeFormat($event, i)" (blur)="updateStart_time(entry.start_time, $event, i)">
                    </div>
                    <div class="col-md-3">
                        <input type="text" name="end_time" class="form-control text-center" [ngModel]="entry.end_time | customDate:'HH:mm'"  [ngModelOptions]="{standalone: true}" (ngModelChange)="entry.end_time" (focus)="timeFormat($event, i)" (blur)="updateEnd_time(entry.end_time, $event, i)">
                    </div>
                    <div class="col-md-5">
                        <input type="text" name="task" [(ngModel)]="entries[i].description" class="form-control" (blur)="updateTask(i, $event)" placeholder="Write a description">
                    </div>
                </form>
            <!-- </div> -->
            <div class="col-4 text-end">
                <!-- <div class="btn bg-transparent primary-text border primary-border border-2 rounded ms-2">
                    <span>Edit</span>
                </div> -->
                <div (click)="deleteEntry(entry.id)" class="btn btn-danger rounded border border-2 border-danger ms-2">
                    <i class="far fa-trash-alt"></i>
                </div>
            </div>
        </div>
    </div>
</div>