.slide-in {
  transform: translateX(0); /* Slide in from the left */
}

.slide-out {
  animation: slide-out 0.2s ease-in-out; /* Slide out to the left */
  visibility: hidden;
  transform: translate(900px);
}
.slide {
  transition: all 0.2s ease-in-out;
}
.bg-fixed{
  content: '';
  background-color: rgba(0, 0, 0, 0.5);
}
@keyframes slide-out {
  from{
    visibility: visible;
  }  
  to{
    opacity: 0;
  }
}