<div class="card rounded shadow h-100">
  <div class="card-body">
    <h3>Resumen Empleados</h3>
    <div *ngFor="let employee of employees" class="d-flex flex-wrap justify-content-between p-3 rounded border-1 border mb-2 align-items-center">
      <h5 class="mb-0">{{employee.User.name}} {{employee.User.last_name}}</h5>
      <p class="mb-0"><a href="">ver empleado</a></p>
    </div>
  </div>
  <div class="card-header text-center bg-primary rounded-bottom">
    <a class="text-white text-decoration-none" routerLink="payments"
      >ver empleados</a
    >
  </div>
</div>
