.bg-container {
  background-image: url(../../../assets/images/resources/empleados-section.png);
}
.max-height {
  max-height: 180px;
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}
