<app-go-back></app-go-back>
<app-pending-invoices-counter [pending]="pending$ | async"></app-pending-invoices-counter>
<div class="t-container" *ngIf="getPending(); else noPendingInvoices">
  <h4 class="mb-0 table-heading">Pending payments:</h4>
  <div class="table-container mt-2 shadow">
    <table mat-table [dataSource]="dataSource">
  
      <!-- Date Column -->
      <ng-container matColumnDef="date">
        <th class="table-header" mat-header-cell *matHeaderCellDef>Date</th>
        <td mat-cell *matCellDef="let payments"> {{ payments.created_at | date: 'shortDate' }} </td>
      </ng-container>
  
      <!-- Description Column -->
      <ng-container matColumnDef="description">
        <th class="table-header" mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let payments"> {{ payments.description }} </td>
      </ng-container>
  
      <!-- Amount Column -->
      <ng-container matColumnDef="amount">
        <th class="table-header" mat-header-cell *matHeaderCellDef>Amount</th>
        <td mat-cell *matCellDef="let payments"> {{ payments.amount | currency: 'USD' }} </td>
      </ng-container>
  
      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <th class="table-header" mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let payments"> 
          <p class="status-indicator {{payments.status.name === 'Pending' ? 'pending' : 'active' }}">
            {{ payments.status.name === 'Pending' ? payments.status.name : 'Confirmed' }} 
          </p>
        </td>
      </ng-container>
  
      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th class="table-header" mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let payments">
          @if (payments.status.name == 'Pending') {
            <a mat-raised-button 
              (click)="setPaymentParams(payments)" 
              routerLink="payments" 
              class="pay-btn"
            >
              <mat-icon>payment</mat-icon>
              Pay Bill
            </a>
          } 
          @else if (payments.status.name == 'Active') {
            <a mat-raised-button 
            (click)="viewMore(payments)"
            class="details-btn"
            data-bs-toggle="modal"
            data-bs-target="#invoice">
              <mat-icon>remove_red_eye</mat-icon>
              See details
            </a>
          }
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]"
                   showFirstLastButtons
                   aria-label="Select page of payments">
    </mat-paginator>
  </div>
</div>
<ng-template #noPendingInvoices class="mt-2">
  You don't have any invoices due for payment!
</ng-template>

<!-- Modal -->
<div class="modal fade" id="invoice" tabindex="-1" aria-labelledby="modalInvoice" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalInvoice">Payment details</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="fw-bold mb-0">Client:</p>
        <p>{{ name }}</p>
        <p class="fw-bold mb-0">Date:</p>
        <p>{{ selectedPayment?.updated_at | date : "EEEE, dd/MM/YYYY" }}</p>
        <p class="fw-bold mb-0">Description:</p>
        <p>{{ selectedPayment?.description }}</p>
        <p class="fw-bold mb-0">Amount:</p>
        <p>${{ selectedPayment?.amount }} {{ selectedPayment?.currency.name }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="downloadPDF()">Download PDF</button>
      </div>
    </div>
  </div>
</div>
