<main class="container position-relative">
  <section class="position-fixed top-0 start-0 end-0 bottom-0">
    <div class="col-12 p-4 h-100 d-flex align-items-center justify-content-end">
      <div class="p-4 col-6 d-sm-none d-md-block h-100">
        <div class="bg-mask col-10"></div>
      </div>
    </div>
  </section>
  <section class="row align-items-stretch mb-2">
    <div class="col-12 col-md-6 col-lg-5">
      <!-- payment balance -->
      <div class="container mb-2">
        <app-balance [payments]="pending"></app-balance>
      </div>
      <!-- current payment section  -->
      <div class="container mb-2">
        <div class="card rounded shadow">
          <div class="card-header">
            <h4 class="mb-0">Payment Status: Pending:</h4>
          </div>
          <div class="card-body">
            <div *ngIf="getPending()">
              <div *ngFor="let payment of pending" class="card p-2 mb-2">
                <div class="row align-items-center">
                  <div class="col-8">
                    <h4>${{ payment.currency.name }} {{ payment.amount }}</h4>
                    <span>status: {{ payment.status.name }} </span>
                  </div>
                  <div class="col-4">
                    <a (click)="setPaymentParams(payment)" routerLink="payments"
                      >Pay Bill</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <p *ngIf="!getPending()">No current pending payments...</p>
          </div>
        </div>
      </div>
      <!-- payment history section -->
      <section>
        <app-payment-history [payments]="payments"></app-payment-history>
      </section>
    </div>
  </section>
</main>
