<app-web-nav></app-web-nav>
<div class="d-flex justify-content-center align-items-center flex-column mt-4">
  <h1 class="fs-2 my-4 px-3 text-center uppercase fw-light accent-color">
    {{ routeType == "client" ? "hire" : "get hired" }}
    <span class="primary-color">{{
      routeType == "client" ? "remote talent" : "remotely"
    }}</span>
  </h1>
  <app-register-form
    class="col-12 col-md-8"
    [registerForm]="formType"
    [fields]="formFields"
    [loader]="loader"
    [formStatus]="formStatus"
    (onSubmit)="handleSubmit($event)"
  ></app-register-form>
</div>
<app-notification-modal></app-notification-modal>
