<div class="col-md-6 offset-md-6 mx-auto mt-5">
    <div class="card rounded p-4 shadow bg-light">
        <div class="card-body">
            <form *ngIf="!isSignUp" class="text-center row" (keydown.enter)="authLogin()" action="">
                <h3 class="text-center mb-4">Login</h3>

                <!-- Email input -->
                <div class="form-outline mb-4">
                    <input type="email" name="email" [(ngModel)]="login.email" class="form-control" placeholder="Email addess" autofocus/>
                    <!-- <label class="form-label" for="form2Example1">Email address</label> -->
                </div>
            
                <!-- Password input -->
                <div class="form-outline mb-4">
                    <input type="password" name="password" [(ngModel)]="login.password" class="form-control" placeholder="Password"/>
                    <!-- <label class="form-label" for="form2Example2">Password</label> -->
                </div>
            
                <!-- 2 column grid layout for inline styling -->
                <!-- <div class="row mb-4">
                <div class="col d-flex justify-content-center">
                    <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
                    <label class="form-check-label" for="form2Example31"> Remember me </label>
                    </div>
                </div>
            
                <div class="col">
                    <a href="#!">Forgot password?</a>
                </div>
                </div> -->
            
                <!-- Submit button -->
                <div class="col-md-12">
                    <button type="button" class="btn btn-primary btn-block mb-4 rounded" (click)="authLogin()">Sign in</button>
                </div>
                <!-- Register buttons -->
                <div class="text-center">
                    <p>Not a member? <a class="pe-auto" (click)="signIntoUp()">Register</a></p>
                    <!-- <p>or sign up with:</p> -->
                    <!-- <button type="button" class="btn btn-link btn-floating mx-1">
                        <i class="fab fa-facebook-f"></i>
                    </button>
                
                    <button type="button" class="btn btn-link btn-floating mx-1">
                        <i class="fab fa-google"></i>
                    </button>
                
                    <button type="button" class="btn btn-link btn-floating mx-1">
                        <i class="fab fa-twitter"></i>
                    </button>
                
                    <button type="button" class="btn btn-link btn-floating mx-1">
                        <i class="fab fa-github"></i>
                    </button> -->
                </div>
            </form>
            <form *ngIf="isSignUp" class="text-center row" (keydown.enter)="authSignup()" action="">
                <h3 class="text-center mb-4">Sign Up</h3>
                <div class="form-outline col-md-6 mb-4">
                    <input type="text" name="name" [(ngModel)]="signUp.name" class="form-control" placeholder="Name" autofocus/>
                    <!-- <label class="form-label" for="form2Example1">Email address</label> -->
                </div><div class="form-outline col-md-6 mb-4">
                    <input type="text" name="last_name" [(ngModel)]="signUp.last_name" class="form-control" placeholder="Last Name" autofocus/>
                    <!-- <label class="form-label" for="form2Example1">Email address</label> -->
                </div>
                <!-- Email input -->
                <div class="form-outline mb-4">
                    <input type="email" name="email" [(ngModel)]="signUp.email" class="form-control" placeholder="Email address" autofocus/>
                    <!-- <label class="form-label" for="form2Example1">Email address</label> -->
                </div>
            
                <!-- Password input -->
                <div class="form-outline mb-4">
                    <input type="password" name="password" [(ngModel)]="signUp.password" class="form-control" placeholder="Password"/>
                    <!-- <label class="form-label" for="form2Example2">Password</label> -->
                </div>
                
                <!-- Password input -->
                <div class="form-outline mb-4">
                    <input type="password" name="confirmPass" [(ngModel)]="signUp.confirmPass" class="form-control" placeholder="Confirm Password"/>
                    <!-- <label class="form-label" for="form2Example2">Password</label> -->
                </div>
                <!-- 2 column grid layout for inline styling -->
                <!-- <div class="row mb-4">
                <div class="col d-flex justify-content-center">
                    <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
                    <label class="form-check-label" for="form2Example31"> Remember me </label>
                    </div>
                </div>
            
                <div class="col">
                    <a href="#!">Forgot password?</a>
                </div>
                </div> -->
            
                <!-- Submit button -->
                <button type="button" class="btn btn-primary btn-block mb-4 rounded" (click)="authSignup()">Sign Up</button>
            
                <!-- Register buttons -->
                <div class="text-center">
                    <p>Have an account? <a routerLink="/login" (click)="signIntoUp()">Sign In!</a></p>
                    <!-- <p>or sign up with:</p> -->
                    <!-- <button type="button" class="btn btn-link btn-floating mx-1">
                        <i class="fab fa-facebook-f"></i>
                    </button>
                
                    <button type="button" class="btn btn-link btn-floating mx-1">
                        <i class="fab fa-google"></i>
                    </button>
                
                    <button type="button" class="btn btn-link btn-floating mx-1">
                        <i class="fab fa-twitter"></i>
                    </button>
                
                    <button type="button" class="btn btn-link btn-floating mx-1">
                        <i class="fab fa-github"></i>
                    </button> -->
                </div>
            </form>
            
        </div>
    </div>
</div>