  <!-- <div
    class="d-flex flex-wrap mx-3 p-2 rounded-top align-items-center justify-content-center justify-content-sm-between"
  > -->
    <div class="d-flex flex-column align-items-start">
      <a
        (click)="selectUser(user)"
        routerLink="/reports"
        class="text-decoration-none mb-0 links"
      >
        <span class="fs-3 fw-bolder">{{ user.name }} {{ user.last_name }}</span>
      </a>
      <div class="d-flex gap-2">
        <a
        class="fs-5 fw-bolder links"
        routerLink="/user/entries"
        (click)="selectUser(user)"
        >Entries</a
      >
      <a
        class="fs-5 fw-bolder links"
        routerLink="/reports"
        (click)="selectUser(user)"
        >Reports</a
      >
      </div>
    </div>
  <!-- </div> -->
