<div class="section">
  <div class="d-flex align-items-center">
    <i class="fa-regular fa-circle-user user-ico" style="color: #9a9a9a;"></i>
    <h2 class="p-2 mb-0">Welcome, {{ name }}</h2>
  </div>
  <div class="d-flex flex-wrap ">
    <div class="col-12 col-md-6 p-2 min-height">
      <app-bills></app-bills>
    </div>
    <div class="col-12 col-md-6 p-2 min-height">
      <app-employees></app-employees>
    </div>
    <div class="col-12 col-md-6 p-2 min-height">
      <div class="card rounded shadow h-100">
        <div class="card-body">
          <h3>Customer Service Section:</h3>
          <p>Here you can talk to an agent or create a ticket</p>
        </div>
        <div class="card-header rounded-bottom bg-primary text-center">
          <a class="text-white text-decoration-none" href="https://forms.office.com/r/4jCN9nLgYM" target="_blank">Raise a Ticket</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 p-2 min-height">
      <div class="card rounded shadow h-100">
        <div class="card-body">
          <h3>Blog Section:</h3>
          <p>Get our last News</p>
        </div>
        <div class="card-header rounded-bottom bg-primary text-center">
          <a class="text-white text-decoration-none" href="/blog">See News</a>
        </div>
      </div>
    </div>
  </div>
</div>
