
<main class="container position-absolute full-height row align-items-center">
  <app-go-back></app-go-back>
  <div class="col-6">
    <div class="mb-2 row justify-content-center">
      <a mat-raised-button class="customer-section-btn text-decoration-none col-8" target="_blank" color="">Chat with an agent</a>
    </div>
    <div class="mb-2 row justify-content-center">
      <a mat-raised-button class="text-decoration-none customer-section-btn col-8" target="_blank" color="" href="https://forms.office.com/r/4jCN9nLgYM">Submit a Service Ticket</a>
    </div>
  </div>
  <div class="col-6">
    <img class="customer-section-img p-4" src="assets/images/resources/customer-service.png" alt="">
  </div>
</main>
