<div class="d-flex justify-content-between flex-lg-row flex-column mb-4">
  <div class="d-flex align-items-center p-1">
    <h2 class="mb-0">Notifications</h2>
</div>
</div>
<div class="col-12 col-sm-6 col-md-5 px-1 mb-2">
  <div class="border shadow rounded overflow-hidden cursor-pointer">
    <div *ngFor="let option of options; let i = index" class="transition">
      <div
        (click)="handleSelection(i, option)"
        [ngClass]="{ active: option.active }"
        class="d-flex align-items-center card-hover justify-content-between gap-2 p-3 border-top border-bottom"
      >
        <div class="d-flex align-items-center justify-content-between">
          <h2 [title]="option.label" class="mb-0 fs-5">
            {{ option.title }}
          </h2>
          <button
            *ngIf="option.title === 'Notifications'"
            mat-button
            class="ms-2"
            (click)="userToggle()"
            [title]="'New ' + option.formGroup"
          >
            <i class="fa-solid fa-plus cursor-pointer"></i>
            <span class="ms-1">New</span>
          </button>
        </div>
        <i class="fa-solid fa-angle-right transition"></i>
      </div>
      <div
        class="max-height i-flow"
        [ngClass]="{ 'scrollbar-thin': firefox }"
      >
        <div
          class="border-bottom transition dropdown overflow-hidden"
          [ngClass]="{ active: option.active }"
        >
          <select class="px-3 py-2 form-select" *ngIf="option.filterBy" (change)="handleFilter($event.target, option)">
            <option value="" disabled selected>Filter By</option>
            <option value="-1">All</option>
            <option [value]="item.id" *ngFor="let item of option.filterBy">{{item.name}}</option>
          </select>

          <ng-container *ngFor="let field of option.elements">
            <div
              class="px-3 py-2 d-flex gap-2" style="cursor: auto"
              [ngClass]="{  'card-hover': option.title === 'Your Notifications',
                            active: selectedForm == field }"
              (click)="handleSelection(i, null, field)"
            >
              <a *ngIf="option.title === 'Your Notifications'"
                  routerLink="/admin/entries" 
                  class="text-decoration-none w-100"
                  (click)="setReportInfo({id: field.id, name: field.name})">
                <p class="mb-0 col-9 col-sm-10 w-100">
                  {{ field.message || field.name }}
                </p>
              </a>
              <p *ngIf="option.title === 'Notifications'"
                  class="mb-0 col-9 col-sm-10 w-100">
                {{ field.message || field.name }}
              </p>
            </div>
          </ng-container>
        </div>
        <div
          *ngIf="option.elements.length == 0"
          class="border-bottom transition dropdown overflow-hidden"
          [ngClass]="{ active: option.active }"
        >
          <div class="px-3 py-2 card-hover d-flex gap-2">
            <p class="mb-0 col">No elements</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="position-fixed d-flex justify-content-center align-items-center col-12 bottom-0 end-0 top-0 start-0 z-n1"
>
  <div
    class="position-absolute bottom-0 end-0 col-8 col-sm-6 d-flex justify-content-center"
  >
    <img
      class="col-10 col-sm-8 px-2"
      src="./assets/images/resources/maintenance-resource.png"
      alt=""
      srcset=""
    />
  </div>
</div>
<div
  class="slide col-sm-7 col-12 position-fixed top-0 end-0 start-sm-0 bottom-0 d-flex justify-content-center align-items-center z-1"
  #appUser
  [ngClass]="{ 'slide-in': isSlideIn, 'slide-out': !isSlideIn }"
>
  <div class="col-9 vh-100 col-sm-10 position-relative">
    <main class="h-100 d-flex flex-column justify-content-center">
      <div class="rounded shadow text-center card max-h-75 mt-5">
        <div class="card-header">
          <h1 class="mb-0 text-dark fs-3">Create Notifications</h1>
        </div>
        <div class="card-body">
         <form action=""
         [formGroup]="notificationForm"
         (ngSubmit)="submit()"
        >
            <div class="mb-3 text-start">
              <label for="messageInput" class="form-label">Message</label>
              <textarea 
                class="form-control" 
                formControlName="message"
                id="messageInput" 
                style="height: 120px;  resize: none;">
            </textarea>
            </div>
            <div class="text-start">
              <label for="usersInput" class="form-label">Users</label>
              <mat-form-field class="w-100" lass="bg-info">
                <mat-label>Select Users</mat-label>
                <mat-select multiple [formControl]="selectedOptions" (selectionChange)="onUsersSelectionChange($event.value)">
                  <mat-option (click)="toggleSelectAll()" style="display: none;">
                    All
                  </mat-option>
                  <mat-option *ngFor="let user of usersList" [value]="user.id">
                    {{ user.name }} {{ user.last_name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="form-check mx-2">
              <input
                id="selectAllCheckbox"
                type="checkbox"
                class="form-check-input"
                (change)="toggleSelectAll()"
              />
              <label class="form-check-label">All Users</label>
            </div>
         
            <div class="d-flex justify-content-end mt-4">
            <button
            color="primary"
            mat-raised-button
            class="btn btn-primary btn-block btn-hover transition rounded px-4 ms-2"
          >
            <mat-icon>send</mat-icon>Send
          </button>
          </div> 
         </form>      
        </div>
      </div>
    </main>
  </div>
</div>
