.mat-primary {
  color: white !important;
}

.form-group .mat-mdc-raised-button {
  height: 40px;
}

ul {
  list-style-type: none;
}
@import './assets/styles/bootswatch.min.css';

.bg-primary, .btn-primary{
    background-color: #92b46c !important;
}
.primary-text{
    color: #92b46c !important
}




