@import "/src/theme/variables.scss";

.mat-primary {
  color: white !important;
}
.bg-accent{
  background-color: #818181;
}

.form-group .mat-mdc-raised-button {
  height: 40px;
}

ul {
  list-style-type: none;
}

.primary-text {
  color: #92b46c !important;
}



