@import '../pages.component.scss';

#menu-off-hours:not(.off-hours){
    transform: scaleY(0);
    transition: all 0.2s ease-in-out;
    opacity: 0;
}

#menu-off-hours{
    transition: all 0.3s ease-in-out;
    transform-origin: top;
    overflow: hidden;
    right: 0;
    opacity: 1;
    display: block;
}

.min-height {
  min-height: 300px;
}

.user-ico {
  font-size: 35px;
}

.bg-container {
  background-image: url(../../../assets/images/resources/customer-service-section.png);
}

.bg-container-2 {
  background-image: url(../../../assets/images/resources/blog-section.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
  